.rectangle {
  top: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  border: 1px solid #ddd;
  box-sizing: border-box;
  height: 281px;
}
.rectangle,
.rectangle1,
.rectangle2 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.rectangle1 {
  top: 0;
  border-radius: var(--br-lg);
  height: 279px;
}
.rectangle2 {
  top: calc(50% - 42.5px);
  background-color: #a88734;
  height: 1px;
}
.rectangle3 {
  position: absolute;
  width: 0.34%;
  top: calc(50% - 41.5px);
  right: -0.34%;
  left: 100%;
  background-color: var(--color-tan-100);
  height: 29px;
}
.rectangle4,
.rectangle5 {
  width: 100%;
  right: 0;
  left: 0;
  height: 29px;
}
.rectangle4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #f0c14b;
  position: absolute;
  top: 0;
  border-radius: var(--br-md);
}
.rectangle5 {
  border-radius: var(--br-sm);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
.continue,
.rectangle5,
.rectangle6 {
  position: absolute;
  top: 0;
}
.rectangle6 {
  width: 100%;
  right: 0;
  left: 0;
  height: 29px;
}
.continue {
  left: calc(50% - 26px);
  line-height: 29px;
  display: inline-block;
  width: 52px;
}
.frame4,
.frame5 {
  position: absolute;
  height: 29px;
}
.frame5 {
  width: 99.32%;
  top: 0;
  right: 0.34%;
  left: 0.34%;
  overflow: hidden;
}
.frame4 {
  width: 100%;
  top: calc(50% - 41.5px);
  right: 0;
  left: 0;
  text-align: center;
  font-size: var(--font-size-lg);
}
.by-continuing-you-agree-to-do {
  margin: 0;
  position: absolute;
  width: 79.05%;
  top: 36px;
  left: 0;
  font-size: inherit;
  line-height: 18px;
  font-family: inherit;
  display: inline-block;
}
.conditions-of-use {
  text-decoration: none;
  width: 92.57%;
  top: 2px;
  left: 0;
  color: inherit;
}
.and,
.conditions-of-use,
.pre,
.privacy-notice {
  position: absolute;
  line-height: 18px;
  display: inline-block;
}
.privacy-notice {
  text-decoration: none;
  width: 26.01%;
  top: 2px;
  left: 46.28%;
  color: inherit;
}
.and,
.pre {
  margin: 0;
  width: 9.12%;
  top: 0;
  left: 35.47%;
  font-size: inherit;
  font-family: inherit;
  color: var(--color-gray-200);
}
.pre {
  width: 1.01%;
  top: 18px;
  left: 42.23%;
}
.frame6,
.rectangle7 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.frame6 {
  top: 49px;
  height: 36px;
  color: var(--color-indigo);
}
.rectangle7 {
  top: calc(50% - 12.5px);
  background-color: #846a29;
  height: 1px;
}
.rectangle8 {
  position: absolute;
  width: 0.34%;
  top: calc(50% - 41.5px);
  right: 100%;
  left: -0.34%;
  background-color: var(--color-tan-100);
  height: 29px;
}
.frame3 {
  position: absolute;
  width: 85.06%;
  top: 133px;
  right: 7.47%;
  left: 7.47%;
  height: 85px;
  font-size: var(--font-size-base);
}
.need-help,
.sign-in {
  position: absolute;
  display: inline-block;
}
.sign-in {
  width: 24.71%;
  top: 20px;
  left: 7.47%;
  font-size: 28px;
  line-height: 33.6px;
}
.need-help {
  text-decoration: none;
  width: 86.45%;
  top: -2px;
  left: 14.19%;
  line-height: 19px;
  color: inherit;
}
.image-icon {
  position: absolute;
  width: 9.03%;
  top: 4px;
  right: 90.97%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 7px;
  object-fit: cover;
}
.frame7 {
  position: absolute;
  width: 22.27%;
  top: 242px;
  right: 70.26%;
  left: 7.47%;
  height: 15px;
  color: var(--color-indigo);
}
.rectangle9 {
  border: 1px solid #e77600;
  background-color: var(--color-white);
  position: absolute;
  width: 100%;
  top: calc(50% - 5px);
  right: 0;
  left: 0;
  border-radius: var(--br-md);
  box-shadow: 0 0 3px rgba(228, 121, 17, 0.5);
  box-sizing: border-box;
  height: 31px;
}
.email-or-mobile-phone-number {
  position: absolute;
  width: 64.53%;
  top: 0;
  left: 0.68%;
  line-height: 19px;
  display: inline-block;
}
.frame2,
.frame8 {
  position: absolute;
  width: 85.06%;
  top: 67px;
  right: 7.47%;
  left: 7.47%;
  height: 52px;
}
.frame2 {
  width: 99.43%;
  top: 1px;
  right: 0.29%;
  left: 0.29%;
  height: 279px;
}
.frame1,
.rectangle10 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 281px;
}
.rectangle10 {
  background-color: var(--color-white);
  height: 12px;
}
.new-to-dove-market {
  position: absolute;
  top: -1px;
  left: calc(50% - 45.5px);
  line-height: 12px;
  display: inline-block;
  width: 116px;
}
.frame9 {
  text-decoration: none;
  position: absolute;
  top: 306px;
  left: calc(50% - 53px);
  width: 139px;
  height: 12px;
  text-align: center;
  font-size: var(--font-size-base);
  color: #767676;
}
.rectangle11 {
  position: absolute;
  width: 100%;
  top: calc(50% + 149.5px);
  right: 0;
  left: 0;
  background-color: #adb1b8;
  height: 1px;
}
.rectangle12,
.rectangle13 {
  position: absolute;
  width: 0.29%;
  top: calc(50% + 150.5px);
  right: 100%;
  left: -0.29%;
  background-color: var(--color-gray-100);
  height: 29px;
}
.rectangle13 {
  right: -0.29%;
  left: 100%;
}
.rectangle14,
.rectangle15,
.rectangle16 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.rectangle14 {
  top: calc(50% + 179.5px);
  background-color: #8d9096;
  height: 1px;
}
.rectangle15,
.rectangle16 {
  top: 0;
  height: 29px;
}
.rectangle15 {
  border-radius: var(--br-md);
  background-color: #e7e9ec;
}
.rectangle16 {
  border-radius: var(--br-sm);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}
.create-your-dove-market-accoun {
  position: absolute;
  top: 0;
  left: calc(50% - 96px);
  font-size: var(--font-size-lg);
  line-height: 29px;
  font-family: var(--font-roboto);
  color: var(--color-gray-200);
  text-align: center;
  display: inline-block;
  width: 192px;
}
.frame10,
.frame11 {
  position: absolute;
  height: 29px;
}
.frame11 {
  width: 99.43%;
  top: 0;
  right: 0.29%;
  left: 0.29%;
  overflow: hidden;
}
.frame10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 100%;
  top: calc(50% + 150.5px);
  right: 0;
  left: 0;
}
.frame,
.rectangle17 {
  position: absolute;
  width: 29.17%;
  top: 63px;
  right: 35.42%;
  left: 35.42%;
  height: 361px;
}
.rectangle17 {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 44px;
}
.conditions-of-use1,
.privacy-notice1 {
  text-decoration: none;
  top: 0;
  line-height: 16.11px;
  color: inherit;
  display: inline-block;
}
.conditions-of-use1 {
  position: absolute;
  left: calc(50% - 116px);
  width: 90px;
}
.privacy-notice1 {
  left: calc(50% - 3px);
  width: 73px;
}
.frame13,
.help,
.privacy-notice1 {
  position: absolute;
}
.help {
  text-decoration: none;
  top: 0;
  left: calc(50% + 93px);
  line-height: 16.11px;
  color: inherit;
  display: inline-block;
  width: 26px;
}
.frame13 {
  width: 100%;
  top: 26px;
  right: 0;
  left: 0;
  height: 16px;
}
.dove-market-inc {
  position: absolute;
  top: 54px;
  left: calc(50% - 114px);
  font-size: 10px;
  line-height: 16.11px;
  color: #555;
  display: inline-block;
  width: 227px;
}
.frame12 {
  position: absolute;
  width: 97%;
  top: 450px;
  right: 1.5%;
  left: 1.5%;
  height: 71px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-indigo);
}
.dove-marketlogos-12x-1 {
  text-decoration: none;
  position: absolute;
  top: 7px;
  left: 563px;
  width: 66px;
  height: 57px;
  background-image: url(../../public/dovemarketlogos12x-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.sign-in-page {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 800px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-200);
  font-family: var(--font-roboto);
}
