@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-lexend: Lexend;
  --font-encode-sans-condensed: "Encode Sans Condensed";
  --font-libre-caslon-text: "Libre Caslon Text";
  --font-inherit: inherit;

  /* font sizes */
  --font-size-xs: 13px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-2xl: 30px;

  /* Colors */
  --white: #fff;
  --background-3: #f3f9fb;
  --backgorund-1: #f5f5f5;
  --border: #ededed;
  --line: #d9d9d9;
  --text: #666;
  --color-gray-600: #222;
  --primary: #008ecc;
  --color-black: #000;
  --color-green: #249b3e;

  /* Gaps */
  --gap-sm: 6px;
  --gap-md: 16px;
  --gap-lg: 20px;

  /* Paddings */
  --padding-sm: 9px;
  --padding-md: 21px;

  /* border radiuses */
  --br-sm: 15px;
  --br-md: 16px;
  --br-lg: 62px;
}
